*.class
#package file
*.war
*.ear

#maven
target/

#eclipse

.settings/
.project
.classpatch

#idea

.idea/
/idea/
*.ipr
*.iml
*.iws

#tmp file

*.log
*.cache
*.diff
*.patch
*.tmp

#system file

.DS_Store
Thumbs.db
/src/main/java/com/maple/service/impl/OCRService.java
/src/main/java/com/maple/controller/portal/OCRController.java
