<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maple.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.maple.pojo.Car" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="branch" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="car_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="plate_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="engine_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="vin" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pick_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="car_licence_front_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="car_licence_back_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="transfer_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="redeem_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="gps_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gps_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id,branch,car_status, name, plate_number, engine_number, vin, pick_date, car_licence_front_image,
    car_licence_back_image, transfer_date, redeem_date, gps_number, gps_phone,
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from maple_car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByMultiParam" resultType="com.maple.pojo.Car" parameterType="map">
    SELECT c.id as id,c.branch as branch,c.car_status as carStatus,c.name as name, c.plate_number as plateNumber,
    c.pick_date as pickDate,c.transfer_date as transferDate, c.redeem_date as redeemDate
    from maple_car c LEFT JOIN maple_ticket t on t.car_id=c.id LEFT JOIN maple_driver d on d.car_id=c.id
    <where>
      <if test="driverName!=null">
      and d.name like #{driverName}
      </if>
      <if test="branch!=null">
      and c.branch=#{branch}
      </if>
      <if test="carStatus!=null">
        and c.car_status=#{carStatus}
      </if>
      <if test="plateNumber!=null">
        and c.plate_number like #{plateNumber}
      </if>
      <if test="carName!=null">
        and c.name like #{carName}
      </if>
      <if test="userId!=null">
        and c.id in (select d.car_id from maple_driver d where d.user_id = #{userId})
      </if>
    </where>
    group by c.id
    <if test="orderBy=='score'">
      order by t.score desc
    </if>
    <if test="orderBy=='money'">
      order by t.money desc
    </if>
    <if test="orderBy=='pickDate'">
      order by c.pick_date desc
    </if>
  </select>
  <select id="selectByVin" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> from maple_car WHERE vin=#{stringCellValue}
  </select>
    <select id="selectCarListForTicket" resultMap="BaseResultMap">
      SELECT <include refid="Base_Column_List"/>
      FROM maple_car
      WHERE car_status &lt;= 1
    </select>
  <select id="selectWhereUnchecked" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM maple_car c
    WHERE (select t.score from maple_ticket t where c.id=t.car_id)=0 and (select t.money from maple_ticket t where c.id=t.car_id)=0
  </select>

    <select id="selectbyPlateNumber" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
      FROM maple_car
      WHERE plate_number = #{plateNumber}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from maple_car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.maple.pojo.Car" useGeneratedKeys="true" keyProperty="id">
    insert into maple_car (id,branch,car_status, name, plate_number,
      engine_number, vin, pick_date,
      car_licence_front_image, car_licence_back_image, 
      transfer_date, redeem_date, gps_number,
      gps_phone, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER},#{branch,jdbcType=INTEGER},#{carStatus,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{plateNumber,jdbcType=VARCHAR},
      #{engineNumber,jdbcType=VARCHAR}, #{vin,jdbcType=VARCHAR}, #{pickDate,jdbcType=DATE},
      #{carLicenceFrontImage,jdbcType=VARCHAR}, #{carLicenceBackImage,jdbcType=VARCHAR},
      #{transferDate,jdbcType=DATE}, #{redeemDate,jdbcType=DATE}, #{gpsNumber,jdbcType=VARCHAR},
      #{gpsPhone,jdbcType=VARCHAR}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maple.pojo.Car" >
    insert into maple_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="branch != null" >
        branch,
      </if>
      <if test="carStatus != null" >
        car_status,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="plateNumber != null" >
        plate_number,
      </if>
      <if test="engineNumber != null" >
        engine_number,
      </if>
      <if test="vin != null" >
        vin,
      </if>
      <if test="pickDate != null" >
        pick_date,
      </if>
      <if test="carLicenceFrontImage != null" >
        car_licence_front_image,
      </if>
      <if test="carLicenceBackImage != null" >
        car_licence_back_image,
      </if>
      <if test="transferDate != null" >
        transfer_date,
      </if>
      <if test="redeemDate != null" >
        redeem_date,
      </if>
      <if test="gpsNumber != null" >
        gps_number,
      </if>
      <if test="gpsPhone != null" >
        gps_phone,
      </if>
        create_time,

        update_time,

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="branch != null" >
        #{branch,jdbcType=VARCHAR},
      </if>
      <if test="carStatus != null" >
        #{carStatus,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="plateNumber != null" >
        #{plateNumber,jdbcType=VARCHAR},
      </if>
      <if test="engineNumber != null" >
        #{engineNumber,jdbcType=VARCHAR},
      </if>
      <if test="vin != null" >
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="pickDate != null" >
        #{pickDate,jdbcType=DATE},
      </if>
      <if test="carLicenceFrontImage != null" >
        #{carLicenceFrontImage,jdbcType=VARCHAR},
      </if>
      <if test="carLicenceBackImage != null" >
        #{carLicenceBackImage,jdbcType=VARCHAR},
      </if>
      <if test="transferDate != null" >
        #{transferDate,jdbcType=DATE},
      </if>
      <if test="redeemDate != null" >
        #{redeemDate,jdbcType=DATE},
      </if>
      <if test="gpsNumber != null" >
        #{gpsNumber,jdbcType=VARCHAR},
      </if>
      <if test="gpsPhone != null" >
        #{gpsPhone,jdbcType=VARCHAR},
      </if>
        now(),

        now(),

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maple.pojo.Car" >
    update maple_car
    <set >
      <if test="branch != null" >
        branch = #{branch,jdbcType=VARCHAR},
      </if>
      <if test="carStatus != null" >
        car_status = #{carStatus,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="plateNumber != null" >
        plate_number = #{plateNumber,jdbcType=VARCHAR},
      </if>
      <if test="engineNumber != null" >
        engine_number = #{engineNumber,jdbcType=VARCHAR},
      </if>
      <if test="vin != null" >
        vin = #{vin,jdbcType=VARCHAR},
      </if>
      <if test="pickDate != null" >
        pick_date = #{pickDate,jdbcType=DATE},
      </if>
      <if test="carLicenceFrontImage != null" >
        car_licence_front_image = #{carLicenceFrontImage,jdbcType=VARCHAR},
      </if>
      <if test="carLicenceBackImage != null" >
        car_licence_back_image = #{carLicenceBackImage,jdbcType=VARCHAR},
      </if>
      <if test="transferDate != null" >
        transfer_date = #{transferDate,jdbcType=DATE},
      </if>
      <if test="redeemDate != null" >
        redeem_date = #{redeemDate,jdbcType=DATE},
      </if>
      <if test="gpsNumber != null" >
        gps_number = #{gpsNumber,jdbcType=VARCHAR},
      </if>
      <if test="gpsPhone != null" >
        gps_phone = #{gpsPhone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maple.pojo.Car" >
    update maple_car
    set
      branch = #{branch,jdbcType=VARCHAR},
      car_status = #{carStatus,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      plate_number = #{plateNumber,jdbcType=VARCHAR},
      engine_number = #{engineNumber,jdbcType=VARCHAR},
      vin = #{vin,jdbcType=VARCHAR},
      pick_date = #{pickDate,jdbcType=DATE},
      car_licence_front_image = #{carLicenceFrontImage,jdbcType=VARCHAR},
      car_licence_back_image = #{carLicenceBackImage,jdbcType=VARCHAR},
      transfer_date = #{transferDate,jdbcType=DATE},
      redeem_date = #{redeemDate,jdbcType=DATE},
      gps_number = #{gpsNumber,jdbcType=VARCHAR},
      gps_phone = #{gpsPhone,jdbcType=VARCHAR},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>