<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maple.dao.TicketMapper" >
  <resultMap id="BaseResultMap" type="com.maple.pojo.Ticket" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="car_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="plate_number" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="ticket_times" jdbcType="INTEGER" javaType="java.lang.Integer"/>
      <arg column="score" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="money" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, car_id,plate_number, ticket_times, score, money, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from maple_ticket
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCarId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    from maple_ticket t
    WHERE t.update_time = (select max(update_time) from maple_ticket where car_id =#{carId})
  </select>
    <select id="selectCarIdListForSms" resultType="java.lang.Integer">
      SELECT car_id FROM maple_ticket
      WHERE score &gt; 0 or money &gt; 0
    </select>
  <select id="selectTotalIndexByDate" resultType="java.lang.Integer">
    SELECT ifnull(sum(score*100)+sum(money),0)FROM maple_ticket
    WHERE DATE(update_time)= #{date}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from maple_ticket
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBeforeHalfMonth">
    DELETE from maple_ticket
    WHERE datediff(update_time,now()) >15
  </delete>
  <insert id="insert" parameterType="com.maple.pojo.Ticket" >
    insert into maple_ticket (id, car_id,plate_number, ticket_times,
      score, money, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{carId,jdbcType=INTEGER}, #{plateNum,jdbcType=VARCHAR},#{ticketTimes,jdbcType=INTEGER},
      #{score,jdbcType=INTEGER}, #{money,jdbcType=INTEGER}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.maple.pojo.Ticket" >
    insert into maple_ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="plateNum !=null">
        plate_number,
      </if>
      <if test="ticketTimes != null" >
        ticket_times,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="plateNum!=null">
        #{plateNum,jdbcType=VARCHAR},
      </if>
      <if test="ticketTimes != null" >
        #{ticketTimes,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maple.pojo.Ticket" >
    update maple_ticket
    <set >
      <if test="carId != null" >
        car_id = #{carId,jdbcType=INTEGER},
      </if>
      <if test="plateNum!=null">
        plate_number= #{plateNum,jdbcType=VARCHAR},
      </if>
      <if test="ticketTimes != null" >
        ticket_times = #{ticketTimes,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maple.pojo.Ticket" >
    update maple_ticket
    set car_id = #{carId,jdbcType=INTEGER},
      plate_number= #{plateNum,jdbcType=VARCHAR},
      ticket_times = #{ticketTimes,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      money = #{money,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>